<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Wednesday 1/12</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Preparation</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/setup.html">The Unix Shell: Installation and Data Download</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>Preparation</td>
        <td><a href="https://swcarpentry.github.io/git-novice/setup.html">Version Control with Git: Installation</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> with Stacey</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45 am</td>        <!-- time    -->
        <td>Morning break - 15 minutes</td>        <!-- content -->
      </tr>
      <tr>             
        <td>11:00 am</td>        
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> <i>continued</i></td>        
      </tr>
      <tr>             
        <td>12:00 pm</td>        
        <td>Lunch - 1 hour</td>        
      </tr>
      <tr>             
        <td>01:00 pm</td>        
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> with Annajiat</td>        
      </tr>
      <tr>             
        <td>02:30 pm</td>        
        <td>Afternoon break - 15 minutes</td>        
      </tr>
      <tr>             
        <td>02:45 pm</td>        
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a> <i>continued</i></td>        
      </tr>
      <tr>
        <td>04:00 pm</td>
        <td>End of Day 1</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Thursday 1/13</h3>
    <table class="table table-striped">
      <tr>
        <td>Preparation</td>
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/setup.html">Installation and Data Download</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming in R - Part I</a> with Annajiat</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
         <td>10:45 am</td>        <!-- time    -->
         <td>Morning break - 15 minutes</td>        <!-- content -->
      </tr>
      <tr>             
        <td>12:00 pm</td>        
        <td>Lunch</td>        
      </tr>
      <tr>               <!-- row 2   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming in R - Part I</a> <i>continued</i> with Georgia</td>        <!-- content -->
      </tr>
      <tr>             
        <td>02:30 pm</td>        
        <td>Afternoon break - 15 minutes</td>        
      </tr>
      <tr>
        <td>04:00 pm</td>
        <td>End of Day 2</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Friday 1/14</h3>
    <table class="table table-striped">
      <tr>
        <td>Preparation</td>
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/setup.html">Installation and Data Download</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming in R - Part II</a> with Richard</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
         <td>10:45 am</td>        <!-- time    -->
         <td>Morning break - 15 minutes</td>        <!-- content -->
      </tr>
      <tr>             
        <td>12:00 pm</td>        
        <td>Lunch</td>        
      </tr>
      <tr>               <!-- row 2   -->
        <td>01:00 pm</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/r-novice-inflammation/">Programming in R - Part II</a> <i>continued</i> with Stacey</td>        <!-- content -->
      </tr>
      <tr>             
        <td>02:30 pm</td>        
        <td>Afternoon break - 15 minutes</td>        
      </tr>
      <tr>
        <td>04:00 pm</td>
        <td>End of Day 3</td>
      </tr>               <!-- row 1   -->
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
