<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Wednesday 1/12</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell with Stacey</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45 am</td>        <!-- time    -->
        <td>Morning break</td>        <!-- content -->
      </tr>
      <tr>             
        <td>11:00 am</td>        
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell <i>continued</i></a></td>        
      </tr>
       <tr>             
        <td>12:00 pm</td>        
        <td>Lunch</td>        
      </tr>
       <tr>             
        <td>01:00 pm</td>        
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git with Annajiatd</a></td>        
      </tr>
      <tr>             
        <td>02:30 pm</td>        
        <td>Afternoon break</td>        
      </tr>
      <tr>             
        <td>02:45 pm</td>        
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git <i>continued</i></a></td>        
      </tr>
      <tr>
        <td>04:00 pm</td>
        <td>End of Day 1</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Thursday 1/13</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Friday 1/14</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
